@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Noto+Sans+SC&display=swap');

body{
    text-shadow: inset 0px 10px 40px rgba(129, 214, 230, 0.5)!important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgroundImg {
    background-image: url(../images/background2.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

/* .borderOnly {
    padding: 1rem;
    border-color: white!important;
    width: auto;
    height: 100vh;
    
} */

.quoteGenarate {
    background-color: black;
    opacity: 0.5;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 65vh;
    box-shadow: inset 0px 0px 50px 20px rgba(176, 228, 241, 0.9);
    animation-name: showup ;
    animation-duration: 0.9s;
    z-index: 10;

}

@keyframes showup {
    0% {
        width: 0%;
        height: 0vh;
        
    }
    100% {
        width: 50%;
        height: 65vh;
    }
}


.heading {
    padding: 0.5rem;
    border-radius: 10px 10px 10px;
    text-shadow: 2px 2px 5px rgb(36, 35, 35);
    font-family: 'Noto Sans SC', sans-serif;
    font-family: 'Amatic SC', cursive;
    background-color: skyblue;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 5px rgb(63, 62, 62) ,0px 0px 0px 10px rgb(182, 227, 245);
}

.heading h1 {
    font-size: 30px;
    font-weight: bolder;
    color: black;
    animation-name: lightup;
    -webkit-animation-name: lightup;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}


@keyframes lightup {
    10% {
        text-shadow: 0px 0px 2px white;
    }
    30% {
        text-shadow: 5px 5px 2px white;
    }
    50% {
        text-shadow: 1px 1px 2px white;
    }
    70% {
        text-shadow: 5px 5px 2px white;
    }
    100% {
        text-shadow: 1px 1px 2px white;
    }
   
}

.showQuote {
    margin: 1rem;
    padding: 0.2rem;
    font-size: 23px;
    font-weight: bold;
    color: black;
    font-family: 'Noto Sans SC', sans-serif;
    font-family: 'Amatic SC', cursive;
    background-color: rgb(182, 227, 245);
    /* width: 40%; */
}


.showAuthor {
    margin-left: 10rem;
    margin: 2rem;
    padding: 0.2rem;
    font-weight: bold;
    font-size: 20px;
    color: black;
    font-family: 'Noto Sans SC', sans-serif;
    font-family: 'Amatic SC', cursive;
    background-color: rgb(182, 227, 245);
    width: 35%;

}


.genarateBtn {
    margin-bottom: 2rem;

}


.genarateNextQuote {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Noto Sans SC', sans-serif;
    font-family: 'Amatic SC', cursive;
    border-radius: 20px 30px 20px;
    transition: 0.8s;
    background-color: rgb(182, 227, 245);
    color: black;
    /* width: 20%; */
} 

.genarateNextQuote:hover {
    color: rgb(243, 243, 245);
    border-color: white;
    background-color: transparent!important;
    border-radius: 0px;
    transform: scale(1.2);
}

.heading , .showQuote , .showAuthor , .genarateBtn {

    animation-name: fadein;
    animation-duration: 2s;
}

@keyframes fadein {
    0%,80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}