* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: linear-gradient(45deg ,rgb(3, 32, 70),rgba(38, 114, 228, 0.486),rgba(38, 114, 228, 0.527),rgb(4, 36, 73));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.clock {
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(241, 228, 241) url('../images/clock.png');
    background-size: cover;
    border-radius: 50%;
    border: 10px solid rgba(173, 203, 243, 0.329) ;
    box-shadow: inset 0px 0px 50px rgba(35, 130, 219, 0.5),
    0px 0px 0px 70px rgba(144, 179, 243, 0.2),
    0px 0px 0px 50px rgba(108, 148, 223,0.3),
    0px 0px 0px 30px rgba(108, 148, 223,0.5),
    0px 0px 0px 10px rgba(108, 148, 223,0.7),
    0px 0px 0px 5px rgba(108, 148, 223,0.95);
    animation: boxShadow 5s linear infinite;
    -webkit-animation: boxShadow 3s linear infinite;
}

@keyframes boxShadow {
    20% {
        box-shadow: inset 0px 0px 50px rgba(35, 130, 219, 0.5),
        0px 0px 0px 70px rgba(144, 179, 243, 0.2),
        0px 0px 0px 50px rgba(108, 148, 223,0.3),
        0px 0px 0px 30px rgba(108, 148, 223,0.5),
        0px 0px 0px 10px rgba(108, 148, 223,0.7),
        0px 0px 0px 5px rgba(131, 168, 236, 0.6);
    }
    40% {
        box-shadow: inset 0px 0px 50px rgba(35, 130, 219, 0.5),
        0px 0px 0px 70px rgba(144, 179, 243, 0.2),
        0px 0px 0px 50px rgba(108, 148, 223,0.3),
        0px 0px 0px 30px rgba(108, 148, 223,0.5),
        0px 0px 0px 10px rgba(126, 164, 236, 0.4),
        0px 0px 0px 5px rgba(108, 148, 223,0.95);
    }
    60%{
        box-shadow: inset 0px 0px 50px rgba(35, 130, 219, 0.5),
        0px 0px 0px 70px rgba(144, 179, 243, 0.2),
        0px 0px 0px 50px rgba(108, 148, 223,0.3),
        0px 0px 0px 30px rgba(120, 154, 216, 0.4),
        0px 0px 0px 10px rgba(108, 148, 223,0.7),
        0px 0px 0px 5px rgba(108, 148, 223,0.95);
    }
    80% {
        box-shadow: inset 0px 0px 50px rgba(35, 130, 219, 0.5),
        0px 0px 0px 70px rgba(144, 179, 243, 0.2),
        0px 0px 0px 50px rgba(110, 144, 206, 0.1),
        0px 0px 0px 30px rgba(108, 148, 223,0.5),
        0px 0px 0px 10px rgba(108, 148, 223,0.7),
        0px 0px 0px 5px rgba(108, 148, 223,0.95);
    }
    95% {
        box-shadow: inset 0px 0px 50px rgba(35, 130, 219, 0.5),
        0px 0px 0px 70px rgba(157, 187, 243, 0.2),
        0px 0px 0px 50px rgba(108, 148, 223,0.3),
        0px 0px 0px 30px rgba(108, 148, 223,0.5),
        0px 0px 0px 10px rgba(108, 148, 223,0.7),
        0px 0px 0px 5px rgba(108, 148, 223,0.95);
    }

}

.clock::before {
    content: '';
    position: absolute;
    /* left: 49%; */
    width: 15px;
    height: 15px;
    background: rgb(121, 22, 22);
    border: 2px solid rgb(241, 228, 241);
    z-index: 100000;
    border-radius: 50%;
}

.hour,
.min,
.sec {
    position: absolute;
}

.hour, .hr {
    width: 160px;
    height: 160px;
}

.min, .mn {
    width: 190px;
    height: 190px;
}

.sec, .sc {
    width: 230px;
    height: 230px;
}

.hr , .mn, .sc {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: absolute;
    border-radius: 50%;
}

.hr::before {
    content: '';
    position: absolute;
    width: 7px;
    height: 80px;
    background: rgb(172, 12, 12);
    z-index: 10;
    border-radius: 10px 10px 0 0;
}

.mn::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 100px;
    background: rgb(190, 51, 51);
    z-index: 11;
}

.sc::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 155px;
    background: rgb(180, 20, 20);
    z-index: 12;
}

